<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CFBOT Help</title>

    <style>
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }
    </style>
</head>

<body>
    <div class="container" style="font-size: 15px;">
        <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Text</th>
                <th scope="col">Purpose</th>
                <th scope="col">Exmaple(s)</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Rate CONTEST_ID CF_HANDLE </th>
                <td>Shows OFFICIAL or PREDICTED rating change CF_HANDLE of contest CONTEST_ID</td>
                <td>rating 1399 joynahiid, rate tahsin_protik 1400, etc.</td>
              </tr>
              <tr>
                <th scope="row">Rate CF_HANDLE </th>
                <td>Shows OFFICIAL or PREDICTED rating change of CF_HANDLE of LAST RATED Codeforces contest</td>
                <td>Rating joynahiid, rate tourist, etc.</td>
              </tr>
              <tr>
                <th scope="row">Remember CF_HANDLE</th>
                <td>Remembers your CF_HANDLE for quick query</td>
                <td>remember tourist</td>
              </tr>
              <tr>
                <th scope="row">Who am I?</th>
                <td>Replies with your remembered handle</td>
                <td>whoami</td>
              </tr>

              <tr>
                <th scope="row">Upcoming Contests</th>
                <td>Shows future contests</td>
                <td>upcoming, Upcoming contests, etc.</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

</html>